<ion-view view-title="Time's Up!" cache-view="false">

	<ion-nav-bar align-title="center" class="bar bar-header bar-stable" >
	</ion-nav-bar>

	<ion-content>
		<div class="row">
			<div class="col text-center">
				<h1>
					{{ texto }}
				</h1>
				<button class="button button-positive" ng-click="camara()">
					<i class="icon ion-camera"></i>
					Sacar foto
				</button>
				<a class="button button-positive" href="#/">
					Menú principal
				</a>
			</div>
		</div>
	</ion-content>

</ion-view>
