<ion-view view-title="Time's Up!" cache-view="false">

	<ion-nav-bar align-title="center" class="bar bar-header bar-stable" >
	</ion-nav-bar>

	<ion-content>
		<div class="row">
			<div class="col text-center">
				<a class="button button-dark">
					Continuar
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<a class="button button-positive" href="#/equipos_num">
					Nueva partida
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<a class="button button-dark">
					Instrucciones
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<a class="button button-positive" href="#/ajustes">
					Ajustes
				</a>
			</div>
		</div>
	</ion-content>

</ion-view>
